.tag_Container {
  display: flex;
  gap: 5px;
}

.tag {
  background: var(--rouge);
  border-radius: 10px;
  padding: 3px 25px;
  color: var(--white);
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .tag {
    font-size: 12px;
  }
}
