.container_dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

@media only screen and (max-width: 767px) {
  .container_dropdown {
    margin: 1rem 0 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .card_logement {
    width: 50%;
  }
  .container_dropdown {
    margin: 1rem 0 5rem;
  }
}
