h1 {
  color: var(--rouge);
  margin-bottom: 0;
}
h2 {
  color: var(--rouge);
  margin: 5px 0 25px;
}

.title_tags_host_container {
  display: flex;
  justify-content: space-between;
}
.tag_Container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.host_Rate_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 21px;
}

.desc_equipement_container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 9rem;
  align-items: baseline;
  gap: 3rem;
}

.equipList li {
  list-style-type: none;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
  .title_tags_host_container {
    display: flex;
    flex-direction: column;
  }
  .host_Rate_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }

  .desc_equipement_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 30px 0 4.5rem;
  }
}
