.cards_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  gap: 50px;

  flex-wrap: wrap;

  padding: 2rem;

  border-radius: 2rem;
}
@media only screen and (max-width: 768px) {
  .cards_container {
    background-color: transparent;
    gap: 30px;
  }
}

/*  tablette */
@media only screen and (min-width: 768px) {
  .cards_container {
    background-color: var(--gray);
  }
}

/*  descktop*/
@media only screen and (min-width: 1200px) {
}
