.card_logement {
  width: 33%;
}

.link_card_logement {
  text-decoration: none;
}

.article_card {
  position: relative;
  margin: 1rem;
  filter: drop-shadow(2px 2px 4px #000);
}

.article_card_img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  filter: brightness(90%);
}
.article_card:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.article_contaner_title {
  position: absolute;
  top: 75%;
  padding-left: 10px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 142.6%;
}

@media only screen and (max-width: 767px) {
  .card_logement {
    width: 100% !important;
  }

  .article_card {
    margin: 0 0 1rem;
  }

  .article_card_img {
    height: 330px;
  }
}

@media only screen and (max-width: 991px) {
  .card_logement {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .card_logement {
    width: 50%;
  }
}
