.containe_carrousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.containe_images {
  /* display: flex;
  scroll-behavior: smooth;
*/
}

.containe_arrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}
.active {
  flex: 0 0 100%;
  width: 100%;
}
.displayNone {
  display: none;
}

.rightArrow,
.leftArrow {
  cursor: pointer;
  z-index: 100;
}
