.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 2rem 5rem;
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 2rem 2rem;
  }
  .logo_header {
    width: 10rem;
  }
}
