.foot_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 0;
  background: #000;
}
.foot_img {
  height: 50px;
  background: #000;
}
.foot_container_text {
  color: var(--white);
  font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .foot_container {
    /* margin-top: 18rem; */
    padding: 3rem 0;
  }

  .foot_img {
    height: 40px;
  }
  .foot_container_text {
    font-size: 1rem;
  }
}

/* @media only screen and (max-width: 991px) {
  .foot_container {
    margin-top: 7rem;
  }
} */
