:root {
  --rouge: #ff6060;
  --white: #ffffff;
  --gray: #f7f7f7;
}
* {
  box-sizing: border-box;
}

main {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
body {
  margin: 0;
}
