.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 200px;
}

.nav_header_link {
  text-decoration: none;
  color: var(--rouge);
  font-size: 20px;
  font-weight: 700;
}
.nav_header_link:hover {
  text-decoration: underline 3px solid var(--rouge);
}
.nav_header_link:focus {
  text-decoration: underline 3px solid var(--rouge);
}

@media screen and (max-width: 767px) {
  .nav_header_link {
    font-size: 15px;
  }
}
