.nav_header {
}

.nav_ul {
  display: flex;
  align-items: center;

  text-decoration: none;

  font-size: 20px;
  font-weight: 600;
}
.nav_ul li {
  margin: 1rem;
  list-style-type: none;

  cursor: pointer;
}
.link {
  text-decoration: none;
  color: #ff6060;
}

.active_link {
  text-decoration: underline 2px solid var(--rouge);
  color: #ff6060;
}

@media screen and (max-width: 767px) {
  .nav_ul {
    font-size: 16px;
    font-weight: 500;
    flex-wrap: wrap;
  }
  .nav_ul li {
    margin: 0.5rem;
    list-style-type: none;

    cursor: pointer;
  }
}
